@page "/"
@model HomeBookkeepingApp.Pages.IndexModel

<div class="m-2">
    <h4 class="bg-primary text-white text-center p-2">Consumptions</h4>
    <table class="table table-sm table-bordered table-striped">
        <thead>
            <tr>
                <th>DateConsumption</th>
                <th>Category</th>
                <th>Sum</th>
                <th>Comment</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Consumption c in Model.Consumptions)
            {
                <tr>
                    <td>@c.DateConsumption</td>
                    <td>@c.Category?.CategoryName</td>
                    <td>@c.Sum</td>
                    <td>@c.Comment</td>
                    <td class="text-center">
                        <a asp-page="Details" asp-route-id="@c.Id"
                       class="btn btn-sm btn-info">Details</a>
                        <a asp-page="Edit" asp-route-id="@c.Id"
                       class="btn btn-sm btn-warning">Edit</a>
                        <a asp-page="Delete" asp-route-id="@c.Id"
                       class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-page="Create" class="btn btn-primary">Create</a>
</div>
